.box {
  padding: 15px;
  border: 2px solid black;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.button__count {
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.4s;
}

.result {
  margin: 0;
}